<div style="display: flex; justify-content: space-between">
    <div>
        <div>
            <h1
                style="font-size: 2.2rem; font-family: 'Be Vietnam Pro', sans-serif; font-weight: 300; padding-left: 14px; font-size: 2.4rem;">
                Sign in</h1>
        </div>
        <span style="margin-left: 17px; font-size: 17px;">
            Use your Google Account
        </span>
    </div>
    <div>
        <!-- <form action="submit">
            <div style="height: 93px;">
                <div>
                    <mat-form-field appearance="outline" style="width: 500px; font-size: 16px;">
                        <mat-label>Email or phone</mat-label>
                        <input matInput placeholder="" />
                    </mat-form-field>
                </div>
                <div>
                    <p class="forget" href="" style="color: #0b57d0; margin-left: 2px;">Forget email?</p>
                </div>
            </div>
            <div style="margin-top: 43px; margin-bottom: 30px;">
                <h6 href="" style="font-size: 14px;">
                    <span>
                        Not your computer? Use Guest mode to sign in privately.
                    </span><br> <span class="guest" style="color: #0b57d0;">
                        Learn more about using Guest mode
                    </span></h6>
            </div>
            <mat-card-actions class="action-btn" style="height: 40px;margin-left: 110px;padding-left: 20px;">
                <div class="create-account"
                    style="display: flex; width: 200px;justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
                    <a routerLink = "/register"
                        style="width: 150px; height: 40px; border-radius: 30px; background-color: #ffffff; box-shadow: none; color: white; align-content: center;">
                        <span style="color: #0b57d0;">Create account</span>
            
                    </a>
                </div>
                <div class="next-btn"
                    style="display: flex; justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
                    <a routerLink="./password"
                        style="width: 80px; height: 40px; border-radius: 30px; background-color: #0b57d0; box-shadow: none; color: white; align-content: center;">
        
                        <span>Next</span>
            
                    </a>
                </div>
            </mat-card-actions>
        </form> -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div style="height: 93px;">
                <div>
                    <mat-form-field appearance="outline" style="width: 500px; font-size: 16px;">
                        <mat-label>Email or phone</mat-label>
                        <input matInput formControlName="email" placeholder="" />
                        <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
                        <mat-error *ngIf="loginForm.get('email').hasError('email')">Invalid email</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <p class="forget" href="" style="color: #0b57d0; margin-left: 2px;">Forget email?</p>
                </div>
            </div>
            <div style="margin-top: 43px; margin-bottom: 30px;">
                <h6 href="" style="font-size: 14px;">
                    <span>
                        Not your computer? Use Guest mode to sign in privately.
                    </span><br> <span class="guest" style="color: #0b57d0;">
                        Learn more about using Guest mode
                    </span>
                </h6>
            </div>
            <mat-card-actions class="action-btn" style="height: 40px;margin-left: 110px;padding-left: 20px;">
                <div class="create-account"
                    style="display: flex; width: 200px;justify-content: end; text-align: center; font-weight: 400; margin-bottom: 30px; margin-right: 15px;">
                    <a routerLink="/register">Create account</a>
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" routerLink="/register"
                style="width: 80px; height: 40px; border-radius: 30px; background-color: #0b57d0; box-shadow: none; color: white; align-content: center;"><span  style="color: white;">Next</span></button>
            </mat-card-actions>
        </form>
    </div>
</div>

