

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    margin-bottom: -7px;
    margin-right: 20px !important;

 }
 ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
 }

 .next-btn{
    width: 120px;
 }
 .next-btn:hover{
    cursor: pointer;
 }
 .action-btn{
    display: flex;
 }
 .create-account:hover {
    cursor: pointer;
 }

 